*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}

body {
    color: #545454;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
}

.container{
    background: #14BDAC;
    
    margin: 50px;
    padding: 50px;
    border-radius: 25px ;
    border-color: #545454;
    border-width: 3px;
}

.author {
    margin-top: 15px;
    text-align: center;
    font-weight: 500;
    
}

.title{
    text-align: center;
}

.title span {
    color: whitesmoke;
}

.status ::content{
    transition: 400ms;
}

.status-action
{
    margin-top: 20px;
    font-size: 25px;
 display: flex;
 justify-content: space-around;
 height: 30px;
}

.reset {
    cursor: pointer;
    transition: 500ms;
}
.reset:hover{
    transition:500ms;
    color: white;
}

.game-grid {
    background: #0DA192;
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3,1fr);
    grid-gap: 15px;
    margin-top:50px;
}

.game-cell{
    height:150px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 150px;
    background: #14BDAC;
}

.x::after{
    content: '×';
    font-size: 200px;
   
}

.o::after{
    content: '○';
    font-size: 150px;
    font-weight: 400;
    color: whitesmoke
}

.won::after {
 color : rgb(174, 118, 13);
 
}


@media only screen and (max-width: 540px) {
    .container {
      margin: 25px;
      padding: 25px;
    }
  
    .game-cell {
      height: 100px;
      width: 100px;
    }
  
    .x::after {
      font-size: 100px;
    }
  
    .o::after {
      font-size: 125px;
    }
  }